.App {
  font-family: sans-serif;
  text-align: center;
}

.games-list {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  flex-wrap: wrap;
  flex: 1 0 auto;
}

.game {
  min-width: 100px;
  max-width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
  flex-wrap: wrap;
}

.game-icon {
  width: 30px;
  height: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  contain: strict;
}
